@font-face {
  font-family: "FuturaPT";
  font-style: normal;
  font-weight: bold;
  src: url("fonts/Futura/FuturaPTBold.otf")  }
@font-face {
  font-family: "FuturaPT";
  font-style: normal;
  font-weight: book;
  src: url("fonts/Futura/FuturaPTBook.otf") }
@font-face {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: Demi;
  src: url("fonts/Futura/FuturaPTDemi.otf")  }
@font-face {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: ExtraBold;
  src: url("fonts/Futura/FuturaPTExtraBold.otf") }
@font-face {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: heavy;
  src: url("fonts/Futura/FuturaPTHeavy.otf") }
@font-face {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: light;
  src: url("fonts/Futura/FuturaPTLight.otf") }
@font-face {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: medium;
  src: url("fonts/Futura/FuturaPTMedium.otf") }